
<div class="breadcrumbs">
  <div class="line"></div>
  <ul>
    <li><a href="/creator/results">Search results</a></li><% if (data.nameEng) { %>
    <li class="active"><a href="/creator/<%= data._id %>"><%= data.nameEng.length > 70 ? data.nameEng.substr(0,70) + '...' : data.nameEng %></a></li><% } %>
  </ul>
</div>
<div class="content">
  <div class="panel-left">
    <h3 class="type">Creator</h3>
    <h2 class="title"><%- data.nameEng %></h2><% if (String(data.nameEng).toLowerCase() !== String(data.nameNld).toLowerCase()) { %>
    <div class="section dutch-name">
      <h4>Dutch name</h4>
      <p><%= data.nameNld %></p>
    </div><% } %>
    <div class="section history"><%= String(data.history).replace(/\n/g, '<br>') %></div>
    <div class="section remarks">
      <h4>Remarks</h4><% if (data.notes) { %>
      <p>	<%= data.notes %></p><% } else { %>
      <p>-</p><% } %>
    </div>
    <div class="section related-archives">
      <h4>Related archives</h4><% if (_.has(data, 'relatedArchives') && data.relatedArchives.length) { %>
      <ul><% _.each(data.relatedArchives, function (archive) { %>
        <li><a href="<%= config.archiveURL(archive.id) %>"><%- archive.displayName %></a></li><% }) %>
      </ul><% } else { %>
      <p>-</p><% } %>
    </div>
    <div class="section related-creators">
      <h4>Related creators</h4><% if (_.has(data, 'relatedArchivers') && data.relatedArchivers.length) { %>
      <ul><% _.each(data.relatedArchivers, function (archiver) { %>
        <li><a href="<%= config.archiverURL(archiver.id) %>"><%- archiver.displayName %></a></li><% }) %>
      </ul><% } else { %>
      <p>-</p><% } %>
    </div>
  </div>
  <div class="panel-right">
    <div class="section date">
      <h4>Date</h4>
      <p><span class="lbl">Begin date</span><span><%= data.beginDate %></span></p>
      <p><span class="lbl">End date</span><span><%= data.endDate %></span></p>
    </div>
    <div class="section geography">
      <h4>Geography</h4><% if (_.has(data, 'placeKeywords') && data.placeKeywords.length) { %>
      	<% _.each(data.placeKeywords, function (place) { %>
      <p>		<%= place.displayName %></p>	<% }) %>
      <% } else { %>
      <p>-</p><% } %>
    </div>
    <div class="section subject">
      <h4>Subject</h4><% if (_.has(data, 'subjectKeywords') && data.subjectKeywords.length) { %>
      	<% _.each(data.subjectKeywords, function (kw) { %>
      <p>		<%= kw.displayName %></p>	<% }) %>
      <% } else { %>
      <p>-</p><% } %>
    </div>
    <div class="section person">
      <h4>Person</h4><% if (_.has(data, 'persons') && data.persons.length) { %>
      	<% _.each(data.persons, function (person) { %>
      <p>		<%= person.displayName %></p>	<% }) %>
      <% } else { %>
      <p>-</p><% } %>
    </div>
    <div class="section type">
      <h4>Type</h4><%= (data.types || []).join(', ') %>
    </div>
  </div>
</div>