// colors

tabsBackgroundColor = #fcfcfc
activeTabColor = #f6f6f6

breadCrumbBackground = #e5fbf9
breadCrumbBorder = #cbebea
breadCrumbLineColor = #e4ecef
breadCrumbTextColor = #96a4a5

controlsButtonColor = #00c4c2

facetHeadingColor = #323232
facetItemLabelColor = #3f728d

sectionMargin = 33px
