.fiche
	h3.type
		color grey
		font-weight normal

	.history, .contents
		line-height 20px
		margin-bottom 50px

	.remarks,
	.related-archives,
	.related-creators,
	.subject,
	.relevant-dates
	.date,
	.geography,
	.pages
		margin-bottom sectionMargin

	.archival-source
		font-weight bold
		font-style italic

	.subject
		margin-top 1em

	.date
		p
			span
				padding 1em

	.panel-left
		h4
			margin-bottom .5em

		li
			line-height 130%
			list-style none
		li a:before
			content "\25B8"
			margin-right .5em