#fiche
	.content
		padding-left 10px
		margin-top 45px
		position relative
		.panel-left
			float left
			max-width 900px

		.panel-right
			width 220px
			float right
		/**
		 * For modern browsers
		 * 1. The space content is one way to avoid an Opera bug when the
		 *    contenteditable attribute is included anywhere else in the document.
		 *    Otherwise it causes space to appear at the top and bottom of elements
		 *    that are clearfixed.
		 * 2. The use of `table` rather than `block` is only necessary if using
		 *    `:before` to contain the top-margins of child elements.
		 */
		&:before,
		&:after
			content " " /* 1 */
			display table /* 2 */
		&:after
			clear both
		/**
		 * For IE 6/7 only
		 * Include this rule to trigger hasLayout and contain floats.
		 */
		 *zoom 1

	.section
		margin-bottom sectionMargin

	.panel-right
		li
			list-style-type none

	.back
		color lightgray
		line-height 30px
	h2.title
		font-size: 24px;
		font-weight: 400;
		margin: 6px 0 24px;

		.reference
			display block
			font-size 11pt
			margin 5px 0

	h3.type
		color grey
		font-weight 400
		font-size 1.17em


	.abbreviations
		font-size 90%

	.history, .contents
		line-height 20px
		margin-bottom 50px

	.subject
		margin-top 1em

	.date
		span.lbl
			display inline-block
			width 6em

	.remarks p
		font-size 80%

	.panel-left
		h4
			margin-bottom .5em

		li
			line-height 130%
			list-style none
		li a:before
			content "\25B8"
			margin-right .5em
