#fiche
	.section
		margin-bottom sectionMargin

	h2.title .reference
		display block
		font-size 11pt
		margin 5px 0

	h3.type
		color grey
		font-weight normal

	.abbreviations
		font-size 90%

	.history, .contents
		line-height 20px
		margin-bottom 50px

	/*
		.remarks,
		.reference,
		.dutch-title,
		.related-archives,
		.related-creators,
		.subject,
		.relevant-dates
		.date,
		.geography,
		.pages,
	*/

	.subject
		margin-top 1em

	.date
		span.lbl
			display inline-block
			width 6em

	.remarks p
		font-size 80%

	.panel-left
		h4
			margin-bottom .5em

		li
			line-height 130%
			list-style none
		li a:before
			content "\25B8"
			margin-right .5em