/*Typography and colors*/
body {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight:300;
	background-color:#fafafa;
}

a {
	text-decoration:none;
	color:#09F;
}

a:hover {
	text-decoration:underline;
	color:#09F;
}

/*LAYOUT*/
.wrapper {
	width: 1180px;
	background-color:#fff;

	margin-left:auto;
	margin-right:auto;
	clear:both;
}

.head {
	clear:both;
	padding:25px 50px 25px 50px;
}

.HIlogo {
	right:0px;
	top:0px;
	float:right;
}

.navigation{
	background-color:#F0F0F0;
	padding:0px 50px 0px 40px;
}

.navigation li ul{
	display:none;
}

.navigation li{
	display:inline;
	list-style:none;
}

.navigation a {
	display:inline-block;
	text-decoration:none;
	color:#333;
	padding:20px 15px 20px 15px;
}

.navigation a:hover {
	background-color:#1BB1AF;
	color:#FFF;
}
