.results
	padding-left 20px

	h3
		border-bottom 3px solid #F6F6F6
		margin-bottom 20px

	.body
		ul
			list-style: none

			li
				cursor pointer
				border-bottom 1px solid #F6F6F6
				padding-top 18px
				padding-bottom 8px

				small
					color #BBB
					margin-left 6px