.DClogo
	float left
	margin 0px 20px 0px 0px
	border none

.tabs
	tabsWidth = 300px
	position relative
	width tabsWidth
	z-index 200
	img
		position absolute
		top 0
		z-index 1100
		pointer-events none
		display none
	ul
		height 54px
		li
			tabWidth = 100px
			display block
			position absolute
			bottom 0
			width tabWidth

			background-color tabsBackgroundColor
			hoverColor = lighten(activeTabColor, 30%)

			cursor pointer
			list-style none
			line-height 38px
			text-align center

			&:before
				display block
				content " "
				width 0
				height 0
				border-style solid
				border-width 0 0 8px tabWidth
				border-color transparent transparent tabsBackgroundColor transparent
				line-height 0px

				position absolute

			&.archives
				left 0
				padding-top 0
				&:before
					margin-top -8px
			&.creators
				left 1 * tabWidth
				padding-top 8px
				&:before
					margin-top -16px
			&.legislations 
				legTabWidth = tabsWidth - 2*tabWidth
				left 2 * tabWidth
				width legTabWidth
				padding-top 16px
				&:before
					border-width 0 0 8px legTabWidth
					margin-top -24px

			&:hover
				background-color hoverColor
				&:before
					border-color transparent transparent hoverColor transparent
			&.active
				font-weight bold
				background-color activeTabColor
				&:before
					border-color transparent transparent activeTabColor transparent



.breadcrumbs
	position relative
	margin-top 50px
	margin-bottom 45px
	.line
		position absolute
		top 11px
		border-top 1px solid breadCrumbLineColor
		height 1px
		width 100%
		z-index -1

	ul
		z-index 1
		breadBorder = 1px solid breadCrumbBorder
		height 30px

		li
			list-style none
			position relative
			float left
			background-image url('/images/breadcrumb-arrow.png')
			background-repeat no-repeat
			background-position right
			background-color breadCrumbBackground
			border-top breadBorder
			border-bottom breadBorder
			padding-right 10px

			line-height 21px

			a
				display inline-block
				color breadCrumbTextColor
				padding 0 16px 0 8px

		li.active a
			color black
		li:first-child a
			border-left breadBorder
		li:last-child
			background-image url('/images/breadcrumb-arrow-end.png')

		.triangle-right
			display inline-block
			position absolute
			float right
			width 0
			height 0
			border-top 10px solid transparent
			border-bottom 10px solid transparent
			border-left 11px solid #e5fbf9
			margin 0 0 0 -5px