.tabs
	position relative
	background-color tabsBackgroundColor
	width 299px
	img
		position absolute
		top 0
		z-index 1100
		pointer-events none
		display none
	ul
		li
			cursor pointer
			list-style none
			display inline-block
			line-height 40px
			padding-top 20px
			width 32%
			text-align center
			&:hover
				background-color lighten(activeTabColor, 30%)
			&.active
				font-weight bold
				background-color activeTabColor


.breadcrumbs
	position relative
	margin-top 50px
	margin-bottom 45px
	.line
		position absolute
		top 11px
		border-top 1px solid breadCrumbLineColor
		height 1px
		width 100%
		z-index -1

	ul
		z-index 1
		breadBorder = 1px solid breadCrumbBorder
		height 30px

		li
			list-style none
			position relative
			float left
			background-image url('/images/breadcrumb-arrow.png')
			background-repeat no-repeat
			background-position right
			background-color breadCrumbBackground
			border-top breadBorder
			border-bottom breadBorder
			padding-right 10px

			line-height 21px

			a
				display inline-block
				color breadCrumbTextColor
				padding 0 16px 0 8px

		li.active a
			color black
		li:first-child a
			border-left breadBorder
		li:last-child
			background-image url('/images/breadcrumb-arrow-end.png')

		.triangle-right
			display inline-block
			position absolute
			float right
			width 0
			height 0
			border-top 10px solid transparent
			border-bottom 10px solid transparent
			border-left 11px solid #e5fbf9
			margin 0 0 0 -5px