.search .abbreviations
	display none
	text-align right
	a
		font-size 9pt
		color grey

div.results
	padding-left 20px

	h3
		border-bottom 1px solid #F6F6F6

	.heading
		display none
		position relative
		margin-top 1em
		.sort
			position absolute
			display inline-block
			right 0
			top 0
			span
				font-size 11px
				line-height 20px

	.body
		display none

		ul
			list-style none

			li
				font-size 10pt
				position relative
				cursor pointer
				border-bottom 1px solid #F6F6F6
				padding-top 18px
				padding-bottom 8px

				&:hover
					background-color #f6f6f6

				small
					color #BBB
					margin-left 6px

				.ref
					color grey
					font-size 80%
					display block
				.right
					display inline-block
					position absolute
					right 0
				.title
					font-weight bold
					font-size 11pt
					display inline-block
					max-width 85%
				.type
					font-size 80%
					font-weight normal
	.cursor
		display none
		position relative
		margin-bottom 1em
		padding-top 1em
		height 2em
		// border-top 1px solid grey

		.previous, .next
			position absolute
			display inline-block
			padding 1em
			top 0
			cursor pointer
			background-color controlsButtonColor
			color white
			font-size 12px
			box-shadow none
			border-radius 3px
			width auto
			padding 5px 5px
			margin 10px 0

			&:hover
				background-color lighten(controlsButtonColor, 5%)

			&:active
				background-color darken(controlsButtonColor, 5%)

		.previous
			// padding-left 0
			left 0
		.next
			right 0
			// padding-right 0

		.position
			display block
			width 200px
			margin 0 auto
			text-align center
		img.loader
			width 16px
			margin 0 auto
			display block


.facet
	select
		margin 0 4px
		padding 0 4px