#app
	.solr-faceted-search
		.glyphicon
			display none
		.panel.panel-default
			border none
		.col-md-3 .panel-heading
			display none
		&.col-md-12, .col-md-3, .col-md-9
			padding 0
		h5
			font-family: "Raleway",sans-serif
			font-size 12px
			font-weight bold
		.solr-search-fields
			& > .list-group-item
				background-color #f6f6f6
				border-bottom 1px solid #e0e0e0
				font-size 12px
				margin-top 0
				padding 10px 20px 20px
.tabs
	tabsWidth = 300px
	oneTabWidth = tabsWidth / 3


	a
		color #000
	position relative
	width tabsWidth
	ul
		height 54px
		li
			display block
			position absolute
			bottom 0
			width oneTabWidth

			background-color tabsBackgroundColor
			hoverColor = lighten(activeTabColor, 30%)

			list-style none
			line-height 38px
			text-align center

			&:before
				display block
				content " "
				width 0
				height 0
				border-style solid
				border-width 0 0 8px oneTabWidth
				border-color transparent transparent tabsBackgroundColor transparent
				line-height 0px
				position absolute

			&.archives
				left 0
				padding-top 0
				&:before
					margin-top -8px
			&.creators
				left 1 * oneTabWidth
				padding-top 8px
				&:before
					margin-top -16px
			&.legislations
				legTabWidth = tabsWidth - 2*oneTabWidth
				left 2 * oneTabWidth
				width legTabWidth
				padding-top 16px
				&:before
					border-width 0 0 8px legTabWidth
					margin-top -24px

			&:hover
				background-color hoverColor
				&:before
					border-color transparent transparent hoverColor transparent
			&.active
				font-weight bold
				background-color activeTabColor
				&:before
					border-color transparent transparent activeTabColor transparent

.clearSearch
	border: none;
	outline: none;
	display: inline-block;
	cursor: pointer;
	font-size: 12px;
	background: 0;
	background-color: #00c4c2;
	color: #fff;
	box-shadow: none;
	border-radius: 3px;
	width: auto;
	padding: 8px 10px;
	height: initial;
	margin: 10px 10px 0px;

.hire-faceted-search
	padding 0

	.hire-faceted-search-filters
		width: 26%
	.hire-faceted-search-results
		width: 73%

	.hire-faceted-search-filters
		background-color #f6f6f6

		& > button
			display none
		li
			text-align left
			list-style-type none

			&.hire-faceted-search-text-search,
			&.hire-list-facet
				margin-top 0px
				padding 10px 20px 20px 20px
				border-bottom 1px solid #e0e0e0
				font-size 12px
				background-color #f6f6f6

			&.hire-list-facet
				ul
					li.hire-list-facet-list-item
						label,
						span.count
							margin-top 5px

		.hire-faceted-search-filter-menu
			.hire-input
				input
					height: 24px

	.hire-faceted-search-current-query
		display: none

	.hire-faceted-search-results-sort-menu
		ul
			background-color #fafafa
			border thin #AAA solid
			text-align right
			width 70px
			padding 5px 15px 5px 10px
			li
				list-style-type none
				font-weight bold
				font-size 1.2em
				line-height 1.4em
				&:hover
					text-decoration underline

	ol.hire-faceted-search-result-list
		> li
			border-bottom: 1px solid #f6f6f6;
			padding-top: 18px;
			padding-bottom: 8px;
			margin: 0;
		.title
			font-weight: 700;
			font-size: 11pt;
			display: inline-block;
			max-width: 85%;
			color black
		.right
			display inline-block
			float right
		.ref
			display block
			color gray
			font-size 80%

li.hire-range-facet
	background-color: #f6f6f6;
	border-bottom: 1px solid #e0e0e0;
	font-size: 12px;
	margin-top: 0;
	padding: 10px 20px 20px;
	& > header > h3
		margin 0 0 12px
		padding 0
		width 60%