ul.results
	| <% _.each(results, function (r) { %>
	| <li id="<%= r._id %>">
	|   <span class="title"><%= r.titleEng %></span>
	|		<span class="right"><%= String(r.beginDate).split('-')[0] %> - <%= String(r.endDate).split('-')[0] %></span>
	|		<span class="ref"><%= [r.countries[0], r.refCodeArchive, r.refCode, r.subCode, r.itemNo || r.series].join(' ') %></span>
	| </li>
	| <% }) %>
