.breadcrumbs
	.line
	ul
		li: a(href="/archive/results") Search results
		| <% if (data.titleEng) { %>
		li.active <%= data.titleEng.length > 70 ? data.titleEng.substr(0,70) + '...' : data.titleEng %>
		| <% } %>

.content
	.panel-left
		h3.type Archive
		h2.title <%= data.titleEng %>

		| <% if (String(data.titleEng).toLowerCase() !== String(data.titleNld).toLowerCase()) { %>
		.section.dutch-title
			h4 Dutch title
			p <%= data.titleNld %>
		| <% } %>

		.section.remarks
			h4 Remarks
			p <%= String(data.notes || '-').replace(/\n/g, '<br>') %>

		.section.related-archives
			h4 Related archives
			| <% if (_.has(data, 'underlyingArchives') && data.underlyingArchives.length) { %>
			ul
				| <% _.each(data.underlyingArchives, function (archive) { %>
				li <a href="<%= config.archiveURL(archive.id) %>"><%- archive.displayName %> (underlying)</a>
				| <% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.section.related-creators
			h4 Creators
			| <% if (_.has(data, 'creators') && data.creators.length) { %>
			ul
				| <% _.each(data.creators, function (archiver) { %>
				li <a href="<%= config.archiverURL(archiver.id) %>"><%- archiver.displayName %> (creator)</a>
				| <% }) %>
			| <% } else { %>
			p -
			| <% } %>

	.panel-right
		.section.date
			h4 Date
			p
				span.lbl Begin date
				span <%= data.beginDate %>
			p
				span.lbl End date
				span <%= data.endDate %>			

		.section.reference
			h4 Reference
			p <%= model.reference() %>

		.section.geography
			h4 Geography
			| <% if (_.has(data, 'placeKeywords') && data.placeKeywords.length) { %>
			| <% _.each(data.placeKeywords, function (place) { %>
			p <%= place.displayName %>
			| <% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.section.subject
			h4 Subject
			| <% if (_.has(data, 'subjectKeywords') && data.subjectKeywords.length) { %>
			| <% _.each(data.subjectKeywords, function (kw) { %>
			p <%= kw.displayName %>
			| <% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.section.person
			h4 Person
			| <% if (_.has(data, 'persons') && data.persons.length) { %>
			| 	<% _.each(data.persons, function (person) { %>
			p 		<%= person.displayName %>
			| 	<% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.section.extent
			h4 Extent
			p <%= data.extent || '-' %>