.breadcrumbs
	.line
	ul
		li: a(href="/archive/results") Search results
		| <% if (data.titleEng) { %>
		li.active <%= data.titleEng.length > 70 ? data.titleEng.substr(0,70) + '...' : data.titleEng %>
		| <% } %>

.content
	.panel-left
		h3.type Archive
		h2.title <%= data.titleEng %>

		| <% if (String(data.titleEng).toLowerCase() !== String(data.titleNld).toLowerCase()) { %>
		.section.dutch-title
			h4 Dutch title
			p <%= data.titleNld %>
		| <% } %>

		.section.remarks
			h4 Remarks
			p <%= String(data.notes || '-').replace(/\n/g, '<br>') %>

		.section.related-archives
			h4 Related archives
			| <% if (data['@relations'] && _.has(data['@relations'], 'has_child_archive') && data['@relations']['has_child_archive'].length) { %>
			ul
				| <% _.each(data['@relations']['has_child_archive'], function (archive) { %>
				li <a href="<%= config.archiveURL(archive.id) %>"><%- archive.displayName %> (underlying)</a>
				| <% }) %>
			| <% } else { %>
			p -
			| <% } %>
			| <% if (data['@relations'] && _.has(data['@relations'], 'has_parent_archive') && data['@relations']['has_parent_archive'].length) { %>
			ul
				| <% _.each(data['@relations']['has_parent_archive'], function (archive) { %>
				li <a href="<%= config.archiveURL(archive.id) %>"><%- archive.displayName %> (underlying)</a>
				| <% }) %>
			| <% } %>


		.section.related-creators
			h4 Creators
			| <% if (data['@relations'] && _.has(data['@relations'], 'is_created_by') && data['@relations']['is_created_by'].length) { %>
			ul
				| <% _.each(data['@relations']['is_created_by'], function (archiver) { %>
				li <a href="<%= config.archiverURL(archiver.id) %>"><%- archiver.displayName %> (creator)</a>
				| <% }) %>
			| <% } else { %>
			p -
			| <% } %>

	.panel-right
		.section.abbreviations
			| <a href="<%= config.abbreviationsURL %>" target="_new">Explain abbreviations</a>
		.section.date
			h4 Date
			p
				span.lbl Begin date
				span <%= data.beginDate %>
			p
				span.lbl End date
				span <%= data.endDate %>			

		.section.reference
			h4 Reference
			p <%= model.reference() %>

		.section.geography
			h4 Geography
			| <% if (data['@relations'] && _.has(data['@relations'], 'has_place') && data['@relations']['has_place'].length) { %>
			| <% _.each(data['@relations']['has_place'], function (place) { %>
			p <%= place.displayName %>
			| <% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.section.subject
			h4 Subject
			| <% if (data['@relations'] && _.has(data['@relations'], 'has_keyword') && data['@relations']['has_keyword'].length) { %>
			| <% _.each(data['@relations']['has_keyword'], function (kw) { %>
			p <%= kw.displayName %>
			| <% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.section.person
			h4 Person
			| <% if (data['@relations'] && _.has(data['@relations'], 'has_person') && data['@relations']['has_person'].length) { %>
			| 	<% _.each(data['@relations']['has_person'], function (person) { %>
			p 		<%= person.displayName %>
			| 	<% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.section.extent
			h4 Extent
			p <%= data.extent || '-' %>