.breadcrumbs
	.line
	ul
		li: a(href="/creator/results") Search results
		| <% if (data.nameEng) { %>
		li.active
			| <a href="/creator/<%= data._id %>"><%= data.nameEng.length > 70 ? data.nameEng.substr(0,70) + '...' : data.nameEng %></a>
		| <% } %>


.content
	.panel-left
		h3.type Creator
		h2.title
			<%- data.nameEng %>

		<% if (String(data.nameEng).toLowerCase() !== String(data.nameNld).toLowerCase()) { %>
		.section.dutch-name
			h4 Dutch name
			p <%= data.nameNld %>
		<% } %>

		.section.history
			<%= String(data.history).replace(/\n/g, '<br>') %>

		.section.remarks
			h4 Remarks
			| <% if (data.notes) { %>
			p	<%= data.notes %>
			| <% } else { %>
			p -
			| <% } %>

		.section.related-archives
			h4 Related archives
			| <% if (data['@relations'] && _.has(data['@relations'], 'is_creator_of') && data['@relations']['is_creator_of'].length) { %>
			ul
				| <% _.each(data['@relations']['is_creator_of'], function (archive) { %>
				li <a href="<%= config.archiveURL(archive.id) %>"><%- archive.displayName %> (underlying)</a>
				| <% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.section.related-creators
			h4 Related creators
			| <% if (data['@relations'] && _.has(data['@relations'], 'has_sibling_archiver') && data['@relations']['has_sibling_archiver'].length) { %>
			ul
				| <% _.each(data['@relations']['has_sibling_archiver'], function (archive) { %>
				li <a href="<%= config.archiveURL(archive.id) %>"><%- archive.displayName %> (underlying)</a>
				| <% }) %>
			| <% } else { %>
			p -
			| <% } %>

	.panel-right
		.section.abbreviations
			| <a href="<%= config.abbreviationsURL %>" target="_new">Explain abbreviations</a>
		.section.date
			h4 Date
			p
				span.lbl Begin date
				span <%= data.beginDate %>
			p
				span.lbl End date
				span <%= data.endDate %>

		.section.geography
			h4 Geography
			| <% if (data['@relations'] && _.has(data['@relations'], 'has_place') && data['@relations']['has_place'].length) { %>
			| <% _.each(data['@relations']['has_place'], function (place) { %>
			p <%= place.displayName %>
			| <% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.section.subject
			h4 Subject
			| <% if (data['@relations'] && _.has(data['@relations'], 'has_keyword') && data['@relations']['has_keyword'].length) { %>
			| <% _.each(data['@relations']['has_keyword'], function (kw) { %>
			p <%= kw.displayName %>
			| <% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.section.person
			h4 Person
			| <% if (data['@relations'] && _.has(data['@relations'], 'has_person') && data['@relations']['has_person'].length) { %>
			| 	<% _.each(data['@relations']['has_person'], function (person) { %>
			p 		<%= person.displayName %>
			| 	<% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.section.type
			h4 Type
			| <%= (data.types || []).join(', ') %>