.row.span3
	.cell.span1
		.faceted-search
	.cell.span2
		.abbreviations
			a(href="http://dutch-caribbean.huygens.knaw.nl/wp-content/uploads/2013/06/Afkortingen-Caribische-Wereld.pdf", target="_new") Abbreviations
		.results
			.heading
				h3 No results yet
				.sort
			.cursor
				span.previous Previous
				span.next Next
			.body
