.tabs
	ul
		li Creators
		li Archives
		li Legislation

.creator-search
	.colLeft.faceted-search
		| 
	.colRight.results
		| content

.archive-search
	.colLeft.faceted-search
		| 
	.colRight.results
		| content

.legislation-search
	.colLeft.faceted-search
		| 
	.colRight.results
		| content