.breadcrumbs
	.line
	ul
		li: a(href="/legislation/results") Search results
		| <% if (model.titleEng) { %>
		li.active
			| <a href="/legislation/"><%= model.titleEng.length > 70 ? model.titleEng.substr(0,70) + '...' : model.titleEng %></a>
		| <% } %>

.content
	.panel-left
		h3.type Legislation
		h2.title <%- model.titleEng %>

		.contents
			<%= model.contents %>

		.archival-source
			<%= model.originalArchivalSource %>
	.panel-right
		.subject
			h4 Subject
			| <% if (_.has(model, 'subjectKeywords') && model.subjectKeywords.length) { %>
			| 	<% _.each(model.subjectKeywords, function (kw) { %>
			p 		<%= kw.displayName %>
			| 	<% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.relevant-dates
			h4 Relevant dates
			p Date 1 <%= model.date1 %>
			p Date 2 <%= model.date2 %>

		.geography
			h4 Geography
			| <% if (_.has(model, 'placeKeywords') && model.placeKeywords.length) { %>
			| 	<% _.each(model.placeKeywords, function (place) { %>
			p 		<%= place.displayName %>
			| 	<% }) %>
			| <% } else { %>
			p -
			| <% } %>

		.pages
			h4 Pages
			| <% if (_.has(model, 'pages') && model.pages) { %>
			|		<%= model.pages %>
			| <% } else { %>
			p -
			| <% } %>