.breadcrumbs
	.line
	ul
		li: a(href="/legislation/results") Search results
		| <% if (model.titleEng) { %>
		li.active
			| <a href="/legislation/"><%= model.titleEng.length > 70 ? model.titleEng.substr(0,70) + '...' : model.titleEng %></a>
		| <% } %>

.content
	.panel-left
		h2
			| Legislation
			span: <%- model.titleEng %>

		.contents
			<%= model.contents %>

		.archival-source
			<%= model.originalArchivalSource %>
	.panel-right
		| <% if (_.has(model, 'subjectKeywords') && model.subjectKeywords.length) { %>
		.subject
			h4 Subject
			| <% _.each(model.subjectKeywords, function (kw) { %>
			p <%= kw.displayName %>
			| <% }) %>
		| <% } %>
		.relevant-dates
			h4 Relevant dates
			p Date 1 <%= model.date1 %>
			p Date 2 <%= model.date2 %>

		| <% if (_.has(model, 'placeKeywords') && model.placeKeywords.length) { %>
		.geography
			h4 Geography
			| <% _.each(model.placeKeywords, function (place) { %>
			p <%= place.displayName %>
			| <% }) %>
			| <% } %>

		| <% if (_.has(model, 'pages') && model.pages) { %>
		.pages
			h4 Pages
			|	<%= model.pages %>
		| <% } %>