doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title Dutch Caribbean
		link(rel="stylesheet", type="text/css", href="/css/main.css")
		script(data-main="/js/main", src="/lib/requirejs/require.js")
	body
		.wrapper
			#main.main
				.head
					img(src="/images/HuygensING.png", class="HIlogo")
					h1
						img(src="images/dutch-caribbean.png", class="HIlogo", alt="The Dutch in the Caribbean")
				#app